.container
{
    background-color: rgb(36, 34, 34);
    width:350px;
    height:500px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 25px;
    opacity: 1;
}
body
{
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

   
